{% extends "base.html" %}
{% block content %}
    <h1 style="color:white">Make post</h1>
    <form action="" enctype="multipart/form-data" method="post" novalidate>
        {{form.hidden_tag()}}
        {% for field in form if field.name not in ['submit', 'csrf_token'] %}
                <p>
                    <p style="color:white">{{field.label}}</p>
                    {{field(class="form-control")}}<br>
                    {% for error in field.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{error}}
                        </div>
                    {% endfor %}
                </p>
        {% endfor %}
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{error_message}}
            </div>
        {% endif %}
        <p>{{form.submit(type="submit", class="btn btn-primary")}}</p>
    </form>

{% endblock %}